*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    min-height: 100vh;
    position: relative;
}
.three{
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid skyblue;
    border-left: 50px solid transparent;
    position: absolute;
    left: 20px;
}
.hello{
    width: 50px;
    height: 50px;
    background-color: #48D38E;
    position: absolute;
    right: 20px;
    bottom: 20px;
}