@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body {
    padding: 0;
    margin: 0;
    /* overflow:hidden; */
    height: 600px;
}

canvas {
    padding: 0;
    margin: 0;
}

div.btnbg {
    position: fixed;
    left: 0;
    top: 0;

    left: 50%;
    top: 50%;
}



.outbox {
    position: relative;
    width: 200px;
    top: 70%;
    overflow: visible;
    background-color: #42b4bc;
}

.inside-box {
    position: absolute;
    color: #FFD2C9;
    opacity: 0.4;

    animation: animate1 3s linear 1s forwards;
}

@keyframes animate1 {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

.inside-box2 {
    position: absolute;
    color: #FFD2C9;
    opacity: 0;
    animation: animate2 3s ease 3.5s forwards;
}

@keyframes animate2 {
    0% {
        opacity: 0.1;
    }

    25%,
    50% {
        opacity: 0.3;
    }

    50%,
    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

.inside-box3 {
    position: absolute;
    color: #FFD2C9;
    opacity: 0;
    animation: animate3 3s ease-in-out 7s forwards;
}

@keyframes animate3 {

    0%,
    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

.inside-box4 {
    position: absolute;
    color: #FFD2C9;
    opacity: 0;
    animation: animate4 3s ease-in-out 10.5s forwards;
}

@keyframes animate4 {

    0%,
    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

.inside-box5 {
    position: absolute;
    color: #FFD2C9;
    opacity: 0;
    animation: animate5 3s ease-in-out 14s forwards;
}

@keyframes animate5 {

    0%,
    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

.inside-box6 {
    position: absolute;
    color: #FFD2C9;
    opacity: 0;
    animation: animate6 3s ease-in-out 17.5s forwards;
}

@keyframes animate6 {

    0%,
    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

.inside-box7 {
    position: absolute;
    color: #FFD2C9;
    opacity: 0;
    animation: animate7 3s ease-in-out 20s forwards;
}

@keyframes animate7 {

    0%,
    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

.inside-box8 {
    position: absolute;
    color: #FFD2C9;
    opacity: 0;
    animation: animate8 3s ease-in-out 24s forwards;
}

@keyframes animate8 {

    0%,
    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

/* 魔方css */
.my-box {
    width: 20px;
    height: 20px;
    /* position: absolute; */
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(45deg);
    /* transform: rotateZ(45deg); */
    /* animation: animate 4s linear infinite; */
    /* 禁止用户选择 */
    user-select: none;
}

@keyframes animate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(-100px);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translateZ(-100px);
    }
}

.my-box::after {
    position: relative;
    top: 80%;

}

.box {
    width: 80%;
    height: 80%;
    position: absolute;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    top: 0;
    left: 0;
    background-color: #C9B5BA;
    opacity: 0.4;
    box-shadow: 0 0 100px 10px dcabda;
    transform: translateZ(-4px);
}

.box-2 {
    top: 0;
    left: -100%;
    background-color: #C9B5BA;
    opacity: 0.4;
    box-shadow: 0 0 100px 10px dcabda;
    transform-origin: right;
    transform: rotateY(90deg);
}

.box-3 {
    top: 100%;
    left: 0;
    background-color: #C9B5BA;
    opacity: 0.4;
    box-shadow: 0 0 100px 10px dcabda;
    transform-origin: top;
    transform: rotateX(90deg);
}

.box-4 {
    top: 0;
    left: 100%;
    background-color: #C9B5BA;
    opacity: 0.4;
    box-shadow: 0 0 100px 10px dcabda;
    transform-origin: left;
    transform: rotateY(-90deg);
}

.box-5 {
    top: -100%;
    left: 0;
    background-color: #C9B5BA;
    opacity: 0.4;
    box-shadow: 0 0 100px 10px #dcabda;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}

.box-6 {
    top: 0;
    left: 0;
    background-color: #C9B5BA;
    opacity: 0.4;
    box-shadow: 0 0 100px 10px #dcabda;
    transform: translateZ(20px);
}


.btnsep {
    border: 1px solid #FFD2C9;
    opacity: 0.2;
}